Source : [SQL Server CONVERT() Function (w3schools.com)](https:\www.w3schools.com\SQL\func_sqlserver_convert.asp)

Syntax: <span style="color: rgb(0, 0, 0); font-family: Consolas, Menlo, &quot;courier new&quot;, monospace; font-size: 15px; background-color: rgb(255, 255, 255);">CONVERT(</span>_data\_type(length)\_\_,_ _expression__,_ _style_<span style="color: rgb(0, 0, 0); font-family: Consolas, Menlo, &quot;courier new&quot;, monospace; font-size: 15px; background-color: rgb(255, 255, 255);">)</span>

|

| Without century | With century | Input/Output | Standard |
| --- | --- | --- | --- |
| 0 | 100 | mon dd yyyy hh:miAM/PM | Default |
| 1 | 101 | mm/dd/yyyy | US |
| 2 | 102 | yyyy.mm.dd | ANSI |
| 3 | 103 | dd/mm/yyyy | British/French |
| 4 | 104 | dd.mm.yyyy | German |
| 5 | 105 | dd-mm-yyyy | Italian |
| 6 | 106 | dd mon yyyy | \- |
| 7 | 107 | Mon dd, yyyy | \- |
| 8 | 108 | hh:mm:ss | \- |
| 9 | 109 | mon dd yyyy hh:mi:ss:mmmAM (or PM) | Default + millisec |
| 10 | 110 | mm-dd-yyyy | USA |
| 11 | 111 | yyyy/mm/dd | Japan |
| 12 | 112 | yyyymmdd | ISO |
| 13 | 113 | dd mon yyyy hh:mi:ss:mmm | Europe (24 hour clock)\> |
| 14 | 114 | hh:mi:ss:mmm | 24 hour clock |
| 20 | 120 | yyyy-mm-dd hh:mi:ss | ODBC canonical (24 hour clock) |
| 21 | 121 | yyyy-mm-dd hh:mi:ss.mmm | ODBC canonical (24 hour clock) |
|  | 126 | yyyy-mm-ddThh:mi:ss.mmm | ISO8601 |
|  | 127 | yyyy-mm-ddThh:mi:ss.mmmZ | ISO8601 (with time zone Z) |
|  | 130 | dd mon yyyy hh:mi:ss:mmmAM | Hijiri |
|  | 131 | dd/mm/yy hh:mi:ss:mmmAM | Hijiri |

Converting float to real:

| Value | Explanation |
| --- | --- |
| 0 | Maximum 6 digits (default) |
| 1 | 8 digits |
| 2 | 16 digits |

Converting money to character:

| Value | Explanation |
| --- | --- |
| 0 | No comma delimiters, 2 digits to the right of decimal |
| 1 | Comma delimiters, 2 digits to the right of decimal |
| 2 | No comma delimiters, 4 digits to the right of decimal |

|

<span style="color: rgb(0, 0, 0); font-family: Consolas, Menlo, &quot;courier new&quot;, monospace; font-size: 15px; background-color: rgb(255, 255, 255);"><br></span>