**Using join**

In [ ]:
 SELECT a.*
FROM tb_Log_CityMaster a
JOIN (
    SELECT CityName, COUNT(*) AS Count
    FROM tb_Log_CityMaster
    GROUP BY CityName
    HAVING COUNT(*) > 1
) b ON a.CityName = b.CityName 
ORDER BY a.CityName;

**Using CTE**

In [ ]:
WITH DuplicateCities AS (
    SELECT CityName
    FROM tb_Log_CityMaster
    GROUP BY CityName
    HAVING COUNT(*) > 1
)
SELECT a.*
FROM tb_Log_CityMaster a
JOIN DuplicateCities b ON a.CityName = b.CityName
ORDER BY a.CityName;

**Using Exists**

In [1]:
SELECT a.*
FROM tb_Log_CityMaster a
WHERE EXISTS (
    SELECT 1
    FROM tb_Log_CityMaster b
    WHERE a.CityName = b.CityName
    GROUP BY b.CityName
    HAVING COUNT(*) > 1
)
ORDER BY a.CityName;