In [ ]:
 MERGE INTO maintable AS t
        USING subtable AS s
        ON t.column1=s.column2
        WHEN MATCHED THEN
            UPDATE SET 
               column2=value2--will be inserted to maintable
        WHEN NOT MATCHED THEN
            INSERT ( --will be inserted to maintable
                column1
            )
            VALUES (
                value1
            );