In [ ]:
ISNULL(expression, replacement_value)

<span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">While&nbsp;</span> `ISNULL` <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;is a straightforward way to replace&nbsp;</span> `NULL` <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;values, SQL Server also provides the&nbsp;</span> `COALESCE` <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;function, which can be used to replace&nbsp;</span> `NULL` <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;values with the first non-</span>`NULL` <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;value in a list of expressions</span>

In [ ]:
SELECT OrderID, COALESCE(OrderDate, ShipmentDate, '1900-01-01') AS OrderDate
FROM Orders;

<span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">If&nbsp;</span> `OrderDate` <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;is not&nbsp;</span> `NULL`<span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">, it returns that value. If&nbsp;</span> `OrderDate` <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;is&nbsp;</span> `NULL`<span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">, it moves on to&nbsp;</span> `ShipmentDate`<span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">. If&nbsp;</span> `ShipmentDate` <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;is also&nbsp;</span> `NULL`<span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">, it finally returns the default date '1900-01-01'.</span>

<span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">The&nbsp;</span> `LEN()` <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;function returns the length of a string.</span>

In [ ]:
SELECT FirstName, LEN(FirstName) AS FirstNameLength
FROM Employees;

<span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">The&nbsp;</span> `SUBSTRING()` <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;function extracts a part of a string.</span>

In [ ]:
SELECT FirstName, SUBSTRING(FirstName, 1, 3) AS FirstNameFirstThreeChars
FROM Employees;

<span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">The&nbsp;</span> `CONCAT()` <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;function concatenates two or more strings into one string.</span>

In [ ]:
SELECT CONCAT(FirstName, ' ', LastName) AS FullName
FROM Employees;

<span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">The&nbsp;</span> `REPLACE()` <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;function replaces all occurrences of a specified string value with another string value.</span>

In [ ]:
SELECT FirstName, REPLACE(FirstName, 'a', 'x') AS FirstNameWithX
FROM Employees;

**lower():**  <span style="color: rgb(39, 50, 57); font-family: Nunito, sans-serif; font-size: 18px; letter-spacing: 0.162px; background-color: rgb(255, 255, 255);">&nbsp;This function is used to convert the given string into lower case.</span>

In [ ]:
select lower('Hello World!') as lower_case;

**upper():**  <span style="color: rgb(39, 50, 57); font-family: Nunito, sans-serif; font-size: 18px; letter-spacing: 0.162px; background-color: rgb(255, 255, 255);">&nbsp;This function is used to convert the given string to upper case</span>

In [ ]:
SELECT UPPER('hello world!') AS upper_case_string;