**Using Table Type**

```
In Controller

```
```
DataTable dt1 = new DataTable();
dt1.Columns.Add("id", typeof(Int32));
dt1.Columns.Add("name", typeof(String));
foreach (var value in br.arrayList)
{
  DataRow row = dt1.NewRow();
  row["id"] = value.id;
  row["name"] = value.name;
  dt1.Rows.Add(row);
}

```

In [ ]:
--In Sql we take the table as a parameter and use it in the query
create type dbo.PersonType as table
(
    id int,
    name nvarchar(50)
);
-- declare @TblTypeEx1 dbo.PersonType 
-- insert into @TblTypeEx1 values (1, 'John'), (2, 'Jane')
GO

create PROCEDURE dbo.GetPersons --dbo.GetPersons @TblTypeEx1
    @TblTypeEx dbo.PersonType READONLY -- Table-Valued Parameter

AS
begin
SELECT id,name from @TblTypeEx
end

**Using Json**

**In Controller**

\-We serialize the arraylist and send it as a value to the parameter

```
string jsonEx = JsonConvert.SerializeObject(br.ArrayList);
```

In [ ]:
-- DECLARE @jsonEx1 NVARCHAR(MAX)='
-- [
--     {
--         "id": 1,
--         "name": "John"
--     },
--     {
--         "id": 2,
--         "name": "Jane"
--     }
-- ]';
go
create PROCEDURE dbo.GetPersons --dbo.GetPersons @jsonEx1
@jsonEx NVARCHAR(MAX)
as
begin
SELECT 
    id = json.id, -- Accessing the 'id' property
    name = json.name -- Accessing the 'name' property
FROM 
    OPENJSON(@jsonEx) WITH (
        id INT '$.id', -- Define the 'id' column
        name NVARCHAR(50) '$.name' -- Define the 'name' column
    ) AS json; -- Alias the output of OPENJSON as 'json'
end