<span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">The&nbsp;</span> `STRING_AGG` <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;function is used to concatenate the values of string expressions and places a separator between them. It's particularly useful for aggregating strings in a set of rows into a single string.</span>

In [ ]:
SELECT STRING_AGG(CONCAT(FirstName, ' ', LastName), ', ') AS EmployeeNames
FROM Employees;

<span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">The&nbsp;</span> `FORMAT` <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;function is used to format a value as a string in a specific format. It's particularly useful for formatting dates, numbers, and other data types in a way that's easy to read or display.</span>

In [ ]:
SELECT FORMAT(SaleDate, 'MM/dd/yyyy') AS FormattedSaleDate
FROM SalesTransactions;

<span style="color: var(--vscode-foreground);">To format a number as a currency and replace the special character with your&nbsp; selected string. Make sure to put N before the special unicode character.</span>

In [ ]:
select replace(format(Amount,'C','en-IN'),N'₹','NPR.') as Amount

<span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">Both&nbsp;</span> `CAST` <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;and&nbsp;</span> `CONVERT` <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;functions are used to convert one data type to another. They are particularly useful when you need to change the data type of a column or expression to match the requirements of a function or to store data in a different format.</span>

In [ ]:
-- Using CAST
SELECT CAST('2023-04-01' AS DATE) AS DateValue;

-- Using CONVERT
SELECT CONVERT(DATE, '2023-04-01') AS DateValue;

`ISNUMERIC` <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;checks whether a value is numeric.</span>

In [ ]:
SELECT ISNUMERIC('123') AS IsNumeric;

`GROUPING SETS` <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;allows you to generate multiple groupings in a single query, which can be particularly useful for cross-tabulations or when you need to analyze data across multiple dimensions.</span>

In [ ]:
SELECT Region, Year, SUM(Amount) AS TotalSales
FROM Sales
GROUP BY GROUPING SETS ((Region), (Year), ());

This query returns three sets of results:

- The first set groups sales by `Region`.
- The second set groups sales by `Year`.
- The third set (indicated by `()`) provides a grand total of sales across all regions and years.

<span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">CTEs are used to create temporary result sets that can be referenced within another SELECT, INSERT, UPDATE, or DELETE statement. They are defined within the execution scope of a single statement.</span>

In [ ]:
WITH EmployeeHierarchy AS (
    SELECT EmployeeID, ManagerID, EmployeeName
    FROM Employees
    WHERE ManagerID IS NULL -- Top-level employees

    UNION ALL

    SELECT E.EmployeeID, E.ManagerID, E.EmployeeName
    FROM Employees E
    INNER JOIN EmployeeHierarchy EH ON E.ManagerID = EH.EmployeeID
)
SELECT * FROM EmployeeHierarchy;

<span style="color: rgb(22, 22, 22); font-family: &quot;Segoe UI&quot;, SegoeUI, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">String_Agg combines the values from a group one or more rows into a delimited list.</span>

<span style="color: rgb(22, 22, 22); font-family: &quot;Segoe UI&quot;, SegoeUI, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);"><br></span>

In [ ]:
Declare @Sample Table(CustomerID int, OrderID int)
Insert @Sample(CustomerID, OrderID) Values
(100, 75),
(210, 37),
(100, 47),
(330, 235),
(100, 255),
(210, 14);

<span style="color: rgb(22, 22, 22); font-family: &quot;Segoe UI&quot;, SegoeUI, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">Then you could get a comma delimited list of of each customer's orders by using String_Agg with</span>

In [ ]:
Select CustomerID, String_Agg(OrderID, ', ') As Orders
From @Sample
Group By CustomerID
Order By CustomerID;

The result would look like

100 75, 47, 255  
210 14, 37  
330 235

That gives a list of each customer's orders. But the list is in no particular order. If you the list to be in a given order, you would use Within Group. For example

In [ ]:
Select CustomerID, String_Agg(OrderID, ', ') Within Group(Order By OrderID) As Orders
From @Sample
Group By CustomerID
Order By CustomerID;

Then the result would be

100 47, 75, 255  
210 14, 37  
330 235

  

Source: [How string\_agg function and WITHIN GROUP works - Microsoft Q&A](https://learn.microsoft.com/en-us/answers/questions/187507/how-string-agg-function-and-within-group-works)

<span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">After performing an insert operation in the same scope (e.g., within the same stored procedure, trigger, function, or batch),&nbsp;</span> `SCOPE_IDENTITY()` <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;will return the last identity value generated for any table in the current session and within the current scope. Specifically, it will return the identity value of the last row inserted into a table that has an identity column.</span>

In [ ]:
-- After the insert, SCOPE_IDENTITY() will return the identity value of the newly inserted row
DECLARE @UKId INT;
SET @UKId = SCOPE_IDENTITY();

-- Selecting the value stored in @UKId
SELECT @UKId AS UKId;

 `IDENT_CURRENT('table_name')`: Returns the last identity value generated for a specified table, regardless of the session. This is useful when you want to know the last identity value generated for a particular table, even across different sessions.

In [ ]:
SELECT IDENT_CURRENT('tablename') AS LastOrderID;