In [ ]:
-- Get a list of tables and views in the current database
SELECT table_catalog [database], table_name [name], table_type [type]
FROM INFORMATION_SCHEMA.TABLES where TABLE_TYPE='BASE TABLE'

In [ ]:
--To get all the column names from a specific table in the current database, you can use the following SQL query:

SELECT COLUMN_NAME 
FROM INFORMATION_SCHEMA.COLUMNS 
WHERE TABLE_NAME = 'YourTableName'

In [ ]:
--get output as json
select * from tb_sys_SMSHistory FOR  JSON AUTO

In [ ]:
DECLARE @serverName NVARCHAR(128);
DECLARE @databaseName NVARCHAR(128);

-- Retrieve the server name
SET @serverName = @@SERVERNAME;

-- Retrieve the current database name
SET @databaseName = DB_NAME();

PRINT 'Server Name: ' + @serverName;
PRINT 'Database Name: ' + @databaseName;

In [ ]:
--sort and limit the total no of shown rows

select * from [tableName] 
order by [columnName] [asc|desc]
offset N rows 
fetch next N rows only

In [ ]:
--To generate connection string 
SELECT
    'Server=' + @@servername +
    ';Database=' + db_name() +
    ';Trusted_Connection=True' +
    ';TrustServerCertificate=True' AS ConnectionString
FROM sys.databases
WHERE name = db_name()