`ISNUMERIC()`  <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;is a built-in function in SQL Server that determines whether a character string is a numeric value. It returns&nbsp;</span>  `1`  <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;if the input string can be converted to a numeric data type without causing an error; otherwise, it returns&nbsp;</span>  `0`<span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">. This function is particularly useful for validating data types within SQL queries.</span>

<span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">However, it's important to note that&nbsp;</span> `ISNUMERIC()` <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;considers certain characters that are not digits as numeric, such as plus (+), minus (-), and decimal point (.). For these reasons, while&nbsp;</span> `ISNUMERIC()` <span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">&nbsp;is helpful for basic numeric validation, it may not always behave as expected for complex scenarios involving currency or scientific notation.</span><span style="color: rgb(27, 22, 66); font-family: &quot;DM Sans&quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);"><br></span>

In [ ]:
SELECT ISNUMERIC('$100') AS IsNumeric;-- Output: 1

SELECT ISNUMERIC('%25') AS IsNumeric;-- Output: 1

SELECT ISNUMERIC('abc') AS IsNumeric;-- Output: 0

#### 1. `ABS(number)`

Returns the absolute value of a number.

In [ ]:
SELECT ABS(-10) AS AbsoluteValue;

#### 2. `CEILING(number)`

Rounds a number up to the nearest whole number.

In [ ]:
SELECT CEILING(3.14) AS RoundedUp;

#### 3. `FLOOR(number)`

Rounds a number down to the nearest whole number.

In [ ]:
SELECT FLOOR(3.14) AS RoundedDown;

#### 4. `ROUND(number, length)`

Rounds a number to the specified length.

In [ ]:
SELECT ROUND(3.14159, 2) AS RoundedNumber;

#### 5. `RAND([seed])`

Generates a random float between 0 and 1.

In [ ]:
SELECT RAND() AS RandomFloat;